<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.yoshihide.setup_drive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/yoshihide/dotfiles-mac/scripts/bin/setup_drive.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.yoshihide.setup_drive.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.yoshihide.setup_drive.out</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
